<div class="bg-gray-700 flex flex-col justify-center items-center shadow-xl/30 p-4 rounded-2xl w-72 gap-3">
    <h4 class="text-white text-3xl font-semibold">Height</h4>
    <p class="font-bold text-white text-3xl my-2">{{ height() }} cm</p>

    <input type="range" [value]="height()" (input)="setHeight($any($event.target).valueAsNumber)" min="100" max="210"
        class="w-3/4 h-3 mt-2 bg-gray-300 rounded-lg cursor-pointer accent-cyan-500
           [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-5 [&::-webkit-slider-thumb]:h-5 [&::-webkit-slider-thumb]:rounded-full [&::-webkit-slider-thumb]:bg-cyan-500" />
</div>